{% extends "base.html" %}
{%block content%}
{% load static %}
{% load crispy_forms_tags %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Source+Code+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Your+Font+Name&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link href="{% static 'css/style.css'%}" rel="stylesheet">
<main role="main pt-4" style="background: #FFF8DB;">
   <div class=" pt-4 font-weight-bold" style="font-family: 'Kanit', sans-serif">
    <div class="  container col-md-8 bg-light">
      <div class="container px-0 row">
        <div class="col-md-4">
          <div class="pt-2">
            <h3 class="mb-4">Contact Us</h3>
           
            <form method="POST" id="contactForm" name="contactForm" class="contactForm" novalidate="novalidate">
              {% csrf_token %}
              {{ form|crispy }}
              <button id="submit-button" class="btn btn-lg px-5 text-white" type="submit" style="background: black;; border: w#2633be;">Send</button>
              <button id="loading-spinner" class="btn btn-lg px-5 text-white" type="button" style="background: black; border: w#4E527F;display: none;">
                <span class="spinner-border spinner-border-lg" role="status" aria-hidden="true"></span>
                Loading...
              </button>
            
            </form>
            </div>            
        </div>
        <div class="col-md-8 px-0 mx-0">
          <img class="img-fluid w-100" src="{% static 'images/img.jpg'%}" alt="" style="object-fit: cover;">
        </div>
      </div>
 

   

{%endblock content%}