{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .form-container {
      width: 15%;
      margin: 0 auto;
    }
    :root {
        --background-color-secondary: #231250;
    }

    .no-pad {
        padding: 0px;
    }

    .pie {
        margin: 8px;
        height: 180px;
        width: 180px;
        border-radius: 50%;
    }

    .one {
        background: conic-gradient(dodgerblue 0% 85%,
                orangered 25% 85%,
                limegreen 85% 93%,
                #f9f000 93%);
    }

    .two {
        background: conic-gradient(cornflowerblue 0% 35%,
                darkorange 35% 57%,
                greenyellow 57% 85%,
                #FFFFFF 85%);
    }

    .three {

        background: conic-gradient(#03D1CA 0% var(--percentage),
                #231250 0%);
    }

    .pie.hollow {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pie.hollow::after {
        content: '';
        position: absolute;
        height: 180px;
        width: 180px;
        border-radius: 25%;
        background-color: #FFFFFF;
    }

    .pie.two.hollow::after {
        content: '';
        position: absolute;
        height: 48px;
        width: 48px;
        border-radius: 25%;
        background-color: var(--background-color-secondary);
    }

    .pie.three.hollow::after {
        content: '';
        position: absolute;
        height: 120px;
        width: 120px;
        border-radius: 50%;
        background-color: var(--background-color-secondary);
    }
    :root {
      --background-color: #231250;
      --text-color: white;

    }
    .pie.hollow span {
        font-size: 28pt;
        z-index: 2;
        color: white;
        font-weight: bold;
        font-family: "JetBrains Mono", sans-serif;
    }
    .card {
      background-color: var(--background-color);
      border: none;
  }

    .progress {
        margin-bottom: 10px; /* Adjust the margin to create spacing between graphs */
    }
    table {
            border: 1px solid white;
            width: 100%;
            background-color: var(--background-color);
            color: var(--text-color);
        }

        th, td {
            border: 1px solid white;
            text-align: left;
            padding: 10px;
        }
    </style>
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Source+Code+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Your+Font+Name&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link href="{% static 'css/style.css'%}" rel="stylesheet">
<main role="main py-4" style="background: var(--background-color);">
    
   <div class="container pt-5 pb-2 font-weight-bold" style="font-family: Poppins, sans-serif;">
    <div class=" pt-2 container col-md-8 rounded ">
   <h2 class="display-4 text-center"style='font-size: 5em;
   font-weight: 800;
   color: #fff;
   line-height: 1em;
   text-transform: uppercase;font-family: Poppins, sans-serif; text-transform: uppercase; font-size: 36px; color: var(--text-color);'>Let's End Wrongful AI Use With Hesiod.</h2>



  
<hr class="bg-white">

   {% if output%}
      
      <div class="row pt-5 gy-2">
        <div class="col-md-4">
          <div class="card h-100" style="background-color: magenta; color: #231250;">
            <div class="card-body">
                <p class="card-text">Humanity Score</p>
                <h4 class="card-title py-4 bold" style="font-weight: 700;">{{score}}</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100" style="background-color: magenta; color: #231250;">
            <div class="card-body">
                <p class="card-text">Decision</p>
                <h4 class="card-title py-4 bold" style="font-weight: 700;">{{decision}}</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100" style="background-color: magenta; color: #231250;">
            <div class="card-body">
                <p class="card-text">Percent Certainty</p>
                <h4 class="card-title py-4 bold" style="font-weight: 700;">{{percent }}%</h4>
            </div>
          </div>
        </div>  
  </div>
  <hr class="bg-white">
{% if feedback %}
<div class="d-flex  row justify-content-center">
 
  <div class="text-center my-2 col-md-5">
    <div class="col-md-12">
        <div class="text-center">
          <h3 class="text-white">
            Marks
           </h3>
        </div>
        <div class="d-flex justify-content-center align-items-center m-1">
            <div class="pie hollow three" style="--percentage: {{ display_mark }}%;">
              <span>{{marks}}</span>
          </div>
        </div>
    </div>
   
  </div>

<div class="col-md-5 d-flex align-items-center">
  <style>
    #hiddenButtons {
        display: none;
    }
  </style>
  
  <div class="container ">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        <button id="toggleButton" class="btn btn-lg w-30 py-3 mb-3" style="background-color: white; font-size: 16px; color: #231250;"
                onclick="toggleButtons()"> Is the score not what you expected?
        </button>
    </div>
  </div>
  
  <div id="hiddenButtons" class="row">
    <div class="col-md-6">
        <a href="#" style="text-decoration: none;">
            <div class="row align-items-center pt-2">
                <div class="col-md-12">
                    <button class="btn btn-lg w-100 d-flex py-3 justify-content-center align-items-center"
                            style="background-color: white; font-size: 16px; color: #231250;"
                            onclick="buttonAction('high')">Is the mark too high?
                    </button>
                </div>
            </div>
        </a>
    </div>
  
    <div class="col-md-6">
        <a href="#" style="text-decoration: none;">
            <div class="row align-items-center pt-2">
                <div class="col-md-12">
                    <button class="btn btn-lg w-100 d-flex py-3 justify-content-center align-items-center"
                            style="background-color: white; font-size: 16px; color: #231250;"
                            onclick="buttonAction('low')">Is the mark too low?
                    </button>
                </div>
            </div>
        </a>
    </div>
  </div>
  </div>
  
  <script>
  function toggleButtons() {
    var hiddenButtons = document.getElementById("hiddenButtons");
    hiddenButtons.style.display = (hiddenButtons.style.display === "none") ? "flex" : "none";
  }
  
  function buttonAction(feedback) {
    alert("Is the score not what you expected?\nFeedback: " + feedback);
  }
  </script>
</div>
    
</div>

<hr class="bg-white">
<div class="row d-flex pt-4 justify-content-center gx-5">
  <div class="col-md-5 rounded m-1 text-white" style="background-color: #2A1855;">
    <h4 class="text-info text-uppercase m-3">
      Feedback
    </h4>
    <hr class="bg-white">
    <p class="text-white">
      {{feedback|linebreaks}}
    </p>

  </div>
  <div class="col-md-5 rounded m-1 text-white" style="background-color: #2A1855;">
    <h4 class="text-info text-uppercase m-3">
      General Advice
    </h4>
    <hr class="bg-white">
    <p class="text-white">
      {{gen_advice|linebreaks}}
    </p>

  </div>
</div>
{% endif %}

{% endif %}
  
    

   
   
   <form action="" method="POST" class = 'text-white input-lg py-5'enctype="multipart/form-data" style=" background: var(--background-color);">
        
    {% csrf_token %}
    
    <div class="form-content">
      {{ form|crispy }}
  </div>
    <p class="mt-0 text-white"style='font-family: Poppins, sans-serif; font-size: 10px;'>We support pdf, word, and txt file types. However, ensure to remove all images, idenitification, and cover pages to support our document requirements. </p>
    <p class=" text-left text-white"style=" font-family: Poppins, sans-serif;font-size: 12px;">By submitting content, you agree to our <a href="{% url 'terms' %}" target="_blank" class="">Terms of Use</a> and <a href="{% url 'pp' %}" class=""target="_blank">Privacy Policy</a>. Be sure you have appropriate rights to the content before using the AI Text Classifier.  Also, ensure that all personal information should be purged from any files/text being submitted for analysis.</p>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
          const feedbackToggle = document.querySelector('#id_feedback_input');
          const feedbackLabel = document.querySelector('[for="id_feedback_choice"]');
          const feedbackChoice = document.querySelector('.feedback-choice');
  
          const toggleFeedback = () => {
              const arbitraryValue = 'What Assignment Is This Submission For?'; // Change this to your desired label text
              
              if (feedbackToggle.checked) {
                  feedbackLabel.textContent = arbitraryValue;
                  feedbackChoice.style.display = 'block';
              } else {
                  feedbackLabel.textContent = ''; // Default label text
                  feedbackChoice.style.display = 'none';
              }
          };
  
          toggleFeedback();
  
          feedbackToggle.addEventListener('change', toggleFeedback);
      });
  </script>
    <button id="submit-button" class="btn block px-5 text-black" type="submit" style="display: inline-block;
    font-size: 1em;
    background: aqua;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;">{% bs_icon 'search' color='black' size='1em' %} Analyze</button>
    <button id="loading-spinner" class="btn px-5 text-black" type="button" style="background: aqua; font-family: Poppins, sans-serif; font-size: 14px; border: w#4E527F;display: none;">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Analyzing...
    </button>
    <script>
      $(document).ready(function(){
        $('#submit-button').click(function(){
          $('#submit-button').hide();
          $('#loading-spinner').show();
        });
      });
      </script>
      <script>
        // Get references to the checkbox and additional field
        const checkbox = document.getElementById('id_checkbox_field');
        const additionalField = document.getElementById('id_additional_field');
    
        // Hide the additional field initially
        additionalField.style.display = 'none';
    
        // Add an event listener to the checkbox
        checkbox.addEventListener('change', function () {
            if (checkbox.checked) {
                // If the checkbox is checked, show the additional field
                additionalField.style.display = 'block';
            } else {
                // If the checkbox is unchecked, hide the additional field
                additionalField.style.display = 'none';
            }
        });
    </script>
    
      </form>


    
    
    

 <hr class="bg-white">

  
</div>
     
  </main>

{%endblock content%}
