{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .form-container {
      width: 25%;
      margin: 0 auto;
    }
    :root {
      --background-color: #231250;
      --text-color: white;

    }
    .card {
      background-color: var(--background-color);
      border: none;
  }

    .progress {
        margin-bottom: 10px; /* Adjust the margin to create spacing between graphs */
    }
    table {
            border: 1px solid white;
            width: 100%;
            background-color: var(--background-color);
            color: var(--text-color);
        }

        th, td {
            border: 1px solid white;
            text-align: left;
            padding: 10px;
        }
    </style>
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Source+Code+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Your+Font+Name&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link href="{% static 'css/style.css'%}" rel="stylesheet">
<main role="main py-4" style="background: var(--background-color);">
    
   <div class="container pt-5 pb-2 font-weight-bold" style="font-family: Poppins, sans-serif;">
    <div class=" pt-2 container col-md-8 rounded ">
   <h2 class="display-4 text-center"style='font-size: 5em;
   font-weight: 800;
   color: #fff;
   line-height: 1em;
   text-transform: uppercase;font-family: Poppins, sans-serif; text-transform: uppercase; font-size: 36px; color: var(--text-color);'>Let's End Wrongful AI Use With Hesiod.</h2>





   {% if output%}
  
   <!-- <style class="">
     .element {
     opacity: 0;
     animation: fade-in 2s forwards;
   }
   
   @keyframes fade-in {
     from { opacity: 0; }
     to { opacity: 1.5; }
   }
   .word {
     margin: auto;
     color: white;
     font: 500 normal 2.5em 'Poppins, sans-serif';
   }
   .word2 {
     margin: auto;
     color: white;
     font: 500 normal 2.5em 'Poppins, sans-serif';
   }
   @keyframes type {
     0% { width: 0; }
     100% { width: 100%; }
   }
    .type-text {
     width: 100%;
     overflow: hidden;
     white-space: nowrap;
     animation: type 5s steps(200, end);
   } -->
   
   </style>
   
   <div class="container col-md-10 text pb-4 element">
    <hr class="bg-white">
     <div class="container bg-white rounded">
       <div class="m-1 py-5 px-2 text-center">
          <h5 class="text-black type-text" style="font-family: Poppins, sans-serif; font-size: 20px;">Humanity Score: {{score}}</h5>
          <h5 class="text-black type-text pt-1" style="font-family: Poppins, sans-serif; font-size: 20px;">{{decision}}</h5>
          <h5 class="text-black type-text pt-1" style="font-family: Poppins, sans-serif; font-size: 20px; ">We are between {{percent}}% sure of our decision.</h5>
       </div>
       
     </div>
     <h6 style="font-family: Poppins, sans-serif; font-size: 1.1em;
     color: #fff;
     margin: 20px 0;
     font-weight: 400;
     max-width: 700px;">A humanity score above 8.25 indicates that the text was made by a human, and a humanity score under 8.25 indicates that there may have been AI plagiarism involved. Keep in mind that predictions under 50 words can be unpredictable, and poetry cannot be classified.</h6>
     </div>
     <hr class="bg-white">
     <!-- <h6 class ='text-center'style="font-family: Poppins, sans-serif; font-size: 1.1em;
     color: #fff;
     margin: 20px 0;
     font-weight: 400;
     max-width: 700px;">{% bs_icon 'square-fill' color='white' size='1em' %} AI-text is highlighted in white.</h6>
     <div class="container bg-black lh-2 rounded">
      <div class="m-5 py-5 px-2">
        {% if decision == 'This seems to be human text.'%}
          <h5 class="text-white lh-2 double-spaced" style="font-family: Poppins, sans-serif; font-size: 14px;">{{input_text}}</h5>
        {% else %}
        <h5 class="text-white lh-2 double-spaced" style="font-family: Poppins, sans-serif; font-size: 14px;"><span style="background-color: white; color: black">{{input_text}}</span></h5>

        {% endif %}
        

        <style>
          .double-spaced {
            line-height: 2;
          }
        </style>
      </div>
     </div> -->
     {% if feedback != '' %}
   <!-- <h3 class="display-4 text-center py-3 "style='font-size: 4em;
   font-weight: 800;
   color: #fff;
   line-height: 1em;
   text-transform: uppercase;font-family: Poppins, sans-serif; text-transform: uppercase; font-size: 36px; color: var(--text-color);'>Here Are Some Tips To Improve Your Student's Writing.</h3>
   <div class="container rounded" style="background: aqua">
     <div class="m-1 py-5 px-2 text-center">
        <p class="" style="color: var(--background-color); font-family: Poppins, sans-serif; font-size: 20px;">{{feedback}}</p>
     </div>
     
   </div> -->
   <style>
    
   </style>
   <div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: var(--text-color);">Bar Graphs</h5>
                   
                    <div class="progress">
                      <p>{{ marks_display }}</p>

                      <!-- Use marks_display as the width of the progress bar -->
                      <div class="progress-bar bg-success"
                          role="progressbar"
                          style="width: {{ marks_display }};"
                          aria-valuenow="50"
                          aria-valuemin="0"
                          aria-valuemax="100">
                      </div>
                    </div>
                    
                    <div class="container text-center" style="font-size: 12px;">
                      <div class="row">
                        
                        <div class="col text-white"><i class="fa fa-circle pe-1" style="color: green;"></i>Marks</div>
                      </div>
                      <div class="row">
                        
                        
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
 <hr class="bg-white">
 <div class="container">
  <div class="row">
      <div class="col-md-12 offset-md-0">
          <table>
            <tr>
              <td>Marks:</td>
              <td>{{marks}}</td>
          </tr>
              <tr>
                <td>Feedback</td>
                <td>{{feedback|linebreaks}}</td>
            </tr>
              <tr>
                  <td>General Advice</td>
                  <td>{{gen_advice|linebreaks}}</td>
              </tr>
            
          </table>
      </div>
  </div>
</div>
   <hr class="bg-white">
   {% endif %}
   
     
   {% endif %}


   
   
   <form action="" method="POST" class = 'text-white input-lg py-5'enctype="multipart/form-data" style=" background: var(--background-color);">
        
    {% csrf_token %}
    
    <div class="form-content">
      {{ form|crispy }}
  </div>
    <p class="mt-0 text-white"style='font-family: Poppins, sans-serif; font-size: 10px;'>We support pdf, word, and txt file types. However, ensure to remove all images, idenitification, and cover pages to support our document requirements. </p>
    <p class=" text-left text-white"style=" font-family: Poppins, sans-serif;font-size: 12px;">By submitting content, you agree to our <a href="{% url 'terms' %}" target="_blank" class="">Terms of Use</a> and <a href="{% url 'pp' %}" class=""target="_blank">Privacy Policy</a>. Be sure you have appropriate rights to the content before using the AI Text Classifier.  Also, ensure that all personal information should be purged from any files/text being submitted for analysis.</p>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
          const feedbackToggle = document.querySelector('#id_feedback_input');
          const feedbackLabel = document.querySelector('[for="id_feedback_choice"]');
          const feedbackChoice = document.querySelector('.feedback-choice');
  
          const toggleFeedback = () => {
              const arbitraryValue = 'What Assignment Is This Submission For?'; // Change this to your desired label text
              
              if (feedbackToggle.checked) {
                  feedbackLabel.textContent = arbitraryValue;
                  feedbackChoice.style.display = 'block';
              } else {
                  feedbackLabel.textContent = ''; // Default label text
                  feedbackChoice.style.display = 'none';
              }
          };
  
          toggleFeedback();
  
          feedbackToggle.addEventListener('change', toggleFeedback);
      });
  </script>
    <button id="submit-button" class="btn block px-5 text-black" type="submit" style="display: inline-block;
    font-size: 1em;
    background: aqua;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;">{% bs_icon 'search' color='black' size='1em' %} Analyze</button>
    <button id="loading-spinner" class="btn px-5 text-black" type="button" style="background: aqua; font-family: Poppins, sans-serif; font-size: 14px; border: w#4E527F;display: none;">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Analyzing...
    </button>
    <script>
      $(document).ready(function(){
        $('#submit-button').click(function(){
          $('#submit-button').hide();
          $('#loading-spinner').show();
        });
      });
      </script>
      <script>
        // Get references to the checkbox and additional field
        const checkbox = document.getElementById('id_checkbox_field');
        const additionalField = document.getElementById('id_additional_field');
    
        // Hide the additional field initially
        additionalField.style.display = 'none';
    
        // Add an event listener to the checkbox
        checkbox.addEventListener('change', function () {
            if (checkbox.checked) {
                // If the checkbox is checked, show the additional field
                additionalField.style.display = 'block';
            } else {
                // If the checkbox is unchecked, hide the additional field
                additionalField.style.display = 'none';
            }
        });
    </script>
    
      </form>


    
    
    

 <hr class="bg-white">

  
</div>
     
  </main>

{%endblock content%}
