{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Sign In" %}{% endblock %}
{% load static %}
{% block inner %}

<link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Source+Code+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Your+Font+Name&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="container m-4 p-5" style="background-color: #2A1855;">

  <!-- <h2 class="display-4 text-center"style='font-size: 5em;
  font-weight: 800;
  color: white;
  line-height: 1em;
  text-transform: uppercase;font-family: Poppins, sans-serif; text-transform: uppercase; font-size: 40px; color: white;'>Sign In</h2> -->

<h1 class="card-title text-center py-4"><span class="px-1 pb-1" style="background-color: aqua; color: #231250">Sign In</span></h1>
  <!-- <img class="w-20"src="{% static 'images/signup_photo.jpg'%}" alt="" > -->

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
  
  <p class="text-white" style="color: white">
    {% translate "Please sign in with one of your existing third party accounts:" %}
    {% if ACCOUNT_ALLOW_REGISTRATION %}
      {% blocktranslate trimmed %}
        Or, <a href="{{ signup_url }}">Sign In</a>
        for a {{ site_name }} account and sign in below:
      {% endblocktranslate %}
    {% endif %}
  </p>

  <div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% translate "or" %}</div>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

{% else %}
  {% if ACCOUNT_ALLOW_REGISTRATION %}
    <p class=''style=" font-family: Poppins, sans-serif; font-size: 14px; color: white;">
      {% blocktranslate trimmed %}
        If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.
        Please sign in to your account before accessing Hesiod's software.
      {% endblocktranslate %}
    </p>
  {% endif %}
{% endif %}
<style>.custom-input {
  color: #000000;
}</style>
<form class="login" method="POST" action="{% url 'account_login' %}" style="font-family: Poppins, sans-serif; font-size: 14px; color: white;">
  {% csrf_token %}
  {{ form | crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="display-flex pb-4 justify-content-start align-items-middle">
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% translate "Forgot Password?" %}</a>
  
  </div>
  <div class="text-center"><button class="primaryAction btn-lg px-5 rounded" style="background-color: aqua;" type="submit">{% translate "Sign In" %}</button>  </div>
  
</form>
</div>


{% endblock %}
