{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Signup" %}{% endblock %}

{% block inner %}
<div class="col-md-10 p-5 text-center m-4" style="background-color: #2A1855;">
  <h1 class="text-white">{% translate "Sign Up" %}</h1>

<p class="text-white">{% blocktranslate %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktranslate %}</p>

<form class="signup text-white" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-lg px-5 py-2 text-black" style="background-color: #00FAFF;" type="submit">Register</button>
</form>

</div>

{% endblock %}
