
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    /* Style the form field with a white bottom border */
    .custom-form-field {
      /* background-color: transparent;
      border: none;
      border-bottom: 2px solid white;
      color: white;
      margin-bottom: 20px;
      width: 100%; */
      background-color: #231250;
      font-size: 15px;
      border-color: aqua;
      color: white;
      padding-top: 1em;
      padding-bottom: 1em;   
    }
    


  </style>
<main role="main pt-5 pt-md-0" >
  <div class="row pt-5 pt-md-0">
    <div class="col-md-6 d-flex justify-content-center align-items-center" >
      <div class="text-white pt-0 ps-2">

        <h2 class="" style="font-size: 2em;">{{action}} the assignment you want help marking.</h2>
        <h3 class="uppercase" style="font-size: 1em; color: aqua;">Help us learn what you are marking.
        </h3>
      </div>
    </div>
    <div class="col-md-6">
      {%if not prediction%}
    <div class="container py-5" >
        <div class ='pt-5 rounded '>

            
            <div class= 'container  gy-3 text-white' >
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row py-2 mx-1"> {{ form.assignment_title }}</div>
                    <div class="row py-2 mx-1">  {{ form.assignment_description}}</div>
                    <div class="row py-2 mx-1">      {{ form.assignment_criteria }}</div>
                    <div class="row py-2 mx-1">  {{ form.total_marks }}</div>
                    <div class="row py-2 mx-1">   {{ form.subject }}</div>
                   
                  
              
                  
                 
                 
                    <div class="row align-items-center pt-2">
                      <div class="col-md-12">
                          <button type="submit" class="btn btn-lg w-100 d-flex py-3 justify-content-center align-items-center" style="background-color: white; font-size: 24px; color: #231250;">
                            {{action}} Assignment
                          </button>
                      </div>
                  </div>
                  </form>

                  {% endif%}


            </div>
        </div>



    </div>

    </div>
</div>
    </main>

{% endblock content %}
